body{
  font-family: "Montserrat";
}

#title
{
  background-color:#3f3697;
  color: black;
}

/* heading section */

.big-heading
{
font-family: 'Montserrat';
font-size: 3.5rem;
line-height: 1.5;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat';
}
h2
{
  font-size: 2.5rem;
  line-height: 1.5;
}
h3
{
  font-size: 2.5rem;
}

p{
  color: #8f8f8f;
  font-weight: 100;
}
.container-fluid
{
padding: 3% 15%;
}
/* navigation bar */
.navbar
{
  padding-bottom: 4.5rem;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item
{
padding: 0 18px;
}

/* download buttton  */
.download-buttton
{
  margin: 5% 3% 5% 0;
}

/* titile image */
.title-image
{
  height: auto;
  width: auto;
}

/* feature section */
#features
{
padding: 7% 15%;
background-color: #fff;
position: relative;
z-index: 1;
}

.feature-box
{
  text-align: center;
  padding: 5% 0 5% 0;
}

.icon
{
  color:#ef8172;
  margin-bottom: 1.5rem;
}
.icon:hover
{
  color: #ff4c68;
}

/* testimonial section  */


#testimonials
{
  text-align: center;
  background-color: #ef8172;
  color:white;
}
.testimonial-image
{
  width:30%;
  border-radius: 100%;
  margin: 10%;
}

.carousel-item
{
  padding: 7% 15%;  /*7 is for top and bottom and 15 is for left and right */
}
/* press section  */


#press
{
  text-align: center;
  background-color: #ef8172;
  padding: 3%;
}
.press-logo
{
  width:15%;
  margin: 20px 20px 50px;
}

/* pricing sextion */
#pricing
{
  padding: 100px;
  text-align: center;
}

.pricing-column
{
  pading:3% 2%;
}

@media(max-width:1028px)
{
  #title
  {
  text-align: center;
  }


/* cta section */
#cta
{
  padding: 10% 5%;
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}
.cta-heading
{
  font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn2
{
  margin: 2rem;
}
.bank-image
{
  height: 450px;
  width:337px;
}
.form-container
{
  position: absolute;
  background: #da7f8f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}
.bg
{
  background: url('')
}
